:root {
    --gray: #292929;
    --white: #ecf0f1;
    --green: #5b8c5a;
    --rose: #ff5d7e;
    --orange: #f4743b;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--white);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
